@import "../../index.less";

.c-Header {
    height: 60px;
    background-color: @main-bg-color;
    color: @main-text-color;
    width: 100%;
    position: sticky;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

.c-Header-MenuToggle {
    color: @main-text-color;
    font-size: 300%;
    float: left;
    margin-left: 10px;
}

.c-HeaderTitle {
    color: @main-text-color;
    font-size: 250%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}

.c-Header-Profile-Icon {
    font-size: 250%;
    float: right;
    margin-right: 20px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
